@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}



/* botones */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  font-size: 14px;
  padding: .5rem .9rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 8px;
  transition: all .3s ease-in-out;
}

button:hover {
  background-color: black;
  color: white;
  transition: all .3s ease-in-out;
}


/* personajes: status */

.personaje-status-Alive {
  background-color: black;
}

.personaje-status-Dead {
  background-color: crimson;
}

.personaje-status-unknown {
  background-color: grey;
}